<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.relgames.cxclient"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application  android:name=".service.CxApplication" android:label="@string/app.id" android:icon="@drawable/ic_launcher">

        <activity android:name=".GameListActivity" android:label="@string/app.name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserInfoActivity" android:label="@string/user.info"/>

        <activity android:name=".GameInfoActivity" android:label="@string/game.info"/>

        <activity android:name=".SettingsActivity" android:label="@string/app.settings"/>
    </application>

</manifest>
