/**
 * The file contains styles for GWT widgets in the standard theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */
body,table td,select {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
}

pre {
	font-family: "courier new", courier;
	font-size: small;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}

/**
 * The reference theme can be used to determine when this style sheet has
 * loaded.  Create a hidden div element with absolute position, assign the style
 * name below, and attach it to the DOM.  Use a timer to detect when the
 * element's height and width are set to 5px.
 */
.gwt-Reference-standard {
	height: 5px;
	width: 5px;
	zoom: 1;
}

.gwt-Button {

}

.gwt-Button:active {

}

.gwt-Button:hover {

}

.gwt-Button[disabled] {

}

.gwt-Button[disabled]:hover {

}

.gwt-CheckBox {

}

.gwt-CheckBox-disabled {
	color: #888;
}

.gwt-DecoratorPanel {

}

.gwt-DecoratorPanel .topCenter,.gwt-DecoratorPanel .bottomCenter {
	background: url(images/hborder.png) repeat-x;
}

.gwt-DecoratorPanel .middleLeft,.gwt-DecoratorPanel .middleRight {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DecoratorPanel .topLeftInner,.gwt-DecoratorPanel .topRightInner,.gwt-DecoratorPanel .bottomLeftInner,.gwt-DecoratorPanel .bottomRightInner
	{
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratorPanel .topLeft {
	background: url(images/corner.png) no-repeat 0px 0px;
	-background: url(images/corner_ie6.png) no-repeat 0px 0px;
}

.gwt-DecoratorPanel .topRight {
	background: url(images/corner.png) no-repeat -5px 0px;
	-background: url(images/corner_ie6.png) no-repeat -5px 0px;
}

.gwt-DecoratorPanel .bottomLeft {
	background: url(images/corner.png) no-repeat 0px -5px;
	-background: url(images/corner_ie6.png) no-repeat 0px -5px;
}

.gwt-DecoratorPanel .bottomRight {
	background: url(images/corner.png) no-repeat -5px -5px;
	-background: url(images/corner_ie6.png) no-repeat -5px -5px;
}

* html .gwt-DecoratorPanel .topLeftInner,* html .gwt-DecoratorPanel .topRightInner,* html .gwt-DecoratorPanel .bottomLeftInner,* html .gwt-DecoratorPanel .bottomRightInner
	{
	width: 5px;
	height: 5px;
	overflow: hidden;
}

.gwt-DialogBox .Caption {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
}

.gwt-DialogBox .dialogContent {

}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: white;
}

.gwt-DialogBox .dialogBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
	-background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DialogBox .dialogMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
	-background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
	background: url(images/corner.png) no-repeat -13px 0px;
	-background: url(images/corner_ie6.png) no-repeat -13px 0px;
}

.gwt-DialogBox .dialogTopRight {
	background: url(images/corner.png) no-repeat -18px 0px;
	-background: url(images/corner_ie6.png) no-repeat -18px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url(images/corner.png) no-repeat 0px -15px;
	-background: url(images/corner_ie6.png) no-repeat 0px -15px;
}

.gwt-DialogBox .dialogBottomRight {
	background: url(images/corner.png) no-repeat -5px -15px;
	-background: url(images/corner_ie6.png) no-repeat -5px -15px;
}

* html .gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

.gwt-DisclosurePanel {

}

.gwt-DisclosurePanel-open {

}

.gwt-DisclosurePanel-closed {

}

.gwt-DisclosurePanel .header,.gwt-DisclosurePanel .header a,.gwt-DisclosurePanel .header td
	{
	text-decoration: none; /* Remove underline from header */
	color: #D2A300;
	cursor: pointer;
	cursor: hand;
}

.gwt-DisclosurePanel .content {
	/* border-left: 3px solid #e8eef7; */
	padding: 4px 0px 4px 8px;
	margin-left: 6px;
}

.gwt-FileUpload {

}

.gwt-Frame {
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
}

.gwt-HorizontalSplitPanel {

}

.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(images/vborder.png) repeat-y;
}

.gwt-VerticalSplitPanel {

}

.gwt-VerticalSplitPanel .vsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(images/hborder.png) repeat-x;
}

.gwt-HTML {

}

.gwt-Hyperlink {

}

.gwt-Image {

}

.gwt-Label {

}

.gwt-ListBox {

}

.gwt-MenuBar {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #E0EDFE;
}

.gwt-MenuBar-horizontal {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border: 1px solid #BBBBBB;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 0px 10px;
	vertical-align: bottom;
	color: #666666;
	font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	width: 1px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-left: 1px solid #888888;
	background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
	width: 1px;
	height: 1px;
	background: white;
}

.gwt-MenuBar-vertical {
	margin-top: 0px;
	margin-left: 0px;
	background: white;
}

.gwt-MenuBar-vertical table {
	border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 14px 4px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
	padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	height: 1px;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #777777;
	background: #ddddee;
	overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
	padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #E0EDFE;
}

.gwt-MenuBarPopup {
	margin: 0px 0px 0px 3px;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: url(images/hborder.png) 0px -12px repeat-x;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	background: url(images/hborder.png) 0px -13px repeat-x;
	-background: url(images/hborder_ie6.png) 0px -13px repeat-x;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: url(images/vborder.png) -12px 0px repeat-y;
	-background: url(images/vborder_ie6.png) -12px 0px repeat-y;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: url(images/vborder.png) -13px 0px repeat-y;
	-background: url(images/vborder_ie6.png) -13px 0px repeat-y;
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -36px;
	-background: url(images/corner_ie6.png) no-repeat 0px -36px;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -36px;
	-background: url(images/corner_ie6.png) no-repeat -5px -36px;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -41px;
	-background: url(images/corner_ie6.png) no-repeat 0px -41px;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -41px;
	-background: url(images/corner_ie6.png) no-repeat -5px -41px;
}

* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

.gwt-PasswordTextBox {
	padding: 2px;
}

.gwt-PasswordTextBox-readonly {
	color: #888;
}

.gwt-PopupPanel {
	border: 3px solid #C3D9FF;
	padding: 3px;
}

.gwt-DecoratedPopupPanel .popupContent {

}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
	padding: 3px;
	background: #d0e4f6;
}

.gwt-DecoratedPopupPanel .popupTopCenter {
	background: url(images/hborder.png) repeat-x;
}

.gwt-DecoratedPopupPanel .popupBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
	-background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}

.gwt-DecoratedPopupPanel .popupMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DecoratedPopupPanel .popupMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
	-background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}

.gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopLeft {
	background: url(images/corner.png) no-repeat 0px -10px;
	-background: url(images/corner_ie6.png) no-repeat 0px -10px;
}

.gwt-DecoratedPopupPanel .popupTopRight {
	background: url(images/corner.png) no-repeat -5px -10px;
	-background: url(images/corner_ie6.png) no-repeat -5px -10px;
}

.gwt-DecoratedPopupPanel .popupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -15px;
	-background: url(images/corner_ie6.png) no-repeat 0px -15px;
}

.gwt-DecoratedPopupPanel .popupBottomRight {
	background: url(images/corner.png) no-repeat -5px -15px;
	-background: url(images/corner_ie6.png) no-repeat -5px -15px;
}

* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 8px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

.gwt-PopupPanelGlass { /*background-color: #000;*/ /*opacity: 0.3;*/
	/*filter: alpha(opacity=30);*/

}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled,.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-PushButton-up {
	border: 1px outset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-hovering {
	border: 1px outset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: .5;
	filter: alpha(opacity =   40);
	zoom: 1;
}

.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
}

.gwt-PushButton-down {
	border: 1px inset #666;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-hovering {
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: 0.5;
	filter: alpha(opacity =   40);
	zoom: 1;
}

.gwt-RadioButton {

}

.gwt-RadioButton-disabled {
	color: #888;
}

.gwt-RichTextArea {
	color: #66FF00;
}

.hasRichTextToolbar {
	border: 0px;
}

.gwt-RichTextToolbar {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #BBBBBB;
	padding: 3px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 0px 1px 0px 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-StackPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-StackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-size: 1.3em;
	padding: 3px;
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-StackPanel .gwt-StackPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-DecoratedStackPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .gwt-StackPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
}

.gwt-DecoratedStackPanel .stackItemTopLeft,.gwt-DecoratedStackPanel .stackItemTopRight
	{
	height: 6px;
	width: 6px;
	zoom: 1;
}

.gwt-DecoratedStackPanel .stackItemTopLeft {
	border-left: 1px solid #bbbbbb;
	background: #d3def6 url(images/corner.png) no-repeat 0px -49px;
	-background: #d3def6 url(images/corner_ie6.png) no-repeat 0px -49px;
}

.gwt-DecoratedStackPanel .stackItemTopRight {
	border-right: 1px solid #bbbbbb;
	background: #d3def6 url(images/corner.png) no-repeat -6px -49px;
	-background: #d3def6 url(images/corner_ie6.png) no-repeat -6px -49px;
}

.gwt-DecoratedStackPanel .stackItemTopLeftInner,.gwt-DecoratedStackPanel .stackItemTopRightInner
	{
	width: 1px;
	height: 1px;
}

* html .gwt-DecoratedStackPanel .stackItemTopLeftInner,* html .gwt-DecoratedStackPanel .stackItemTopRightInner
	{
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.gwt-DecoratedStackPanel .stackItemTopCenter {
	background: url(images/hborder.png) 0px -21px repeat-x;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeft {
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
	border-left: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,.gwt-DecoratedStackPanel .stackItemMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedStackPanel .stackItemMiddleRight {
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
	border-right: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleCenter {
	font-weight: bold;
	font-size: 1.3em;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft
	{
	border: 0px;
	background-color: white;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight
	{
	background-color: white;
}

.gwt-SuggestBox {
	padding: 2px;
}

.gwt-SuggestBoxPopup {
	margin-left: 3px;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #424242;
	cursor: default;
}

.gwt-SuggestBoxPopup .item-selected {
	background: #b7d6f6;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

.gwt-SuggestBoxPopup .suggestPopupTopCenter {
	background: url(images/hborder.png) repeat-x;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
	-background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
	-background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -23px;
	-background: url(images/corner_ie6.png) no-repeat 0px -23px;
}

.gwt-SuggestBoxPopup .suggestPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -23px;
	-background: url(images/corner_ie6.png) no-repeat -5px -23px;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -28px;
	-background: url(images/corner_ie6.png) no-repeat 0px -28px;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -28px;
	-background: url(images/corner_ie6.png) no-repeat -5px -28px;
}

* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 8px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

.gwt-TabBar {
	padding-top: 10px;
	border-bottom: 1px solid;
	border-bottom-color: #141D48;
}

.gwt-TabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {

}

.gwt-TabBar .gwt-TabBarItem {
	margin-left: 3px;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
	cursor: hand;
	color: white;
	text-align: center;
	background: #141D48;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: #A5ADD3;
}

.gwt-TabBar .gwt-TabBarItem-disabled {
	cursor: default;
	color: #999999;
}

.gwt-TabPanel {

}

.gwt-TabPanelBottom {
	border-color: #92c1f0;
	border-style: solid;
	border-width: 3px 2px 2px;
	overflow: hidden;
	padding: 6px;
}

.gwt-DecoratedTabBar {

}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {

}

.gwt-DecoratedTabBar .gwt-TabBarItem {
	border-collapse: collapse;
	margin-left: 6px;
}

.gwt-DecoratedTabBar .tabTopCenter {
	padding: 0px;
	background: #d0e4f6;
}

.gwt-DecoratedTabBar .tabTopLeft,.gwt-DecoratedTabBar .tabTopRight {
	padding: 0px;
	zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 6px;
	height: 6px;
}

.gwt-DecoratedTabBar .tabTopLeft {
	background: url(images/corner.png) no-repeat 0px -55px;
	-background: url(images/corner_ie6.png) no-repeat 0px -55px;
}

.gwt-DecoratedTabBar .tabTopRight {
	background: url(images/corner.png) no-repeat -6px -55px;
	-background: url(images/corner_ie6.png) no-repeat -6px -55px;
}

* html .gwt-DecoratedTabBar .tabTopLeftInner,* html .gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.gwt-DecoratedTabBar .tabMiddleLeft,.gwt-DecoratedTabBar .tabMiddleRight
	{
	width: 6px;
	padding: 0px;
	background: #d0e4f6;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,.gwt-DecoratedTabBar .tabMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
	padding: 0px 4px 2px 4px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-weight: bold;
	text-align: center;
	background: #d0e4f6;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
	background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
	background-position: 0px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
	background-position: -6px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight
	{
	background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
	cursor: default;
	background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
	cursor: default;
	color: #999999;
}

.gwt-TextArea {
	padding: 2px;
}

.gwt-TextArea-readonly {
	color: #888;
}

.gwt-TextBox {
	padding: 2px;
}

.gwt-TextBox-readonly {
	color: #888;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled,.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-ToggleButton-up {
	border: 1px outset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-hovering {
	border: 1px outset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity =   40);
}

.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
}

.gwt-ToggleButton-down {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-hovering {
	background-position: 0 -513px;
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-disabled {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity =   40);
}

.gwt-Tree .gwt-TreeItem {
	padding: 1px 0px;
	margin: 0px;
	white-space: nowrap;
	cursor: hand;
	cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #93c2f1 url(images/hborder.png) repeat-x 0px -1463px;
}

.gwt-TreeItem .gwt-RadioButton input,.gwt-TreeItem .gwt-CheckBox input {
	margin-left: 0px;
}

* html .gwt-TreeItem .gwt-RadioButton input,* html .gwt-TreeItem .gwt-CheckBox input
	{
	margin-left: -4px;
}

/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

a.gwt-Anchor,a.gwt-Anchor:hover,a.gwt-Anchor:visited {
	color: #D2A300;
	font-family: Verdana, Arial, Helvetica;
	text-decoration: none;
}

a,a:hover,a:visited {
	color: #D2A300;
	font-family: Verdana, Arial, Helvetica;
	text-decoration: none;
}

.tAnchor,.tAnchor:hover,.tAnchor:visited {
	color: yellow;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	text-decoration: none;
	font-size: 12px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {

}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gwt-Button {
	background-color: #222D5E;
	color: White;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
}

.submit {
	background-color: #222D5E;
	color: White;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
}

.input {
	background-color: #141D48;
	color: #DEE0EF;
	border: 1px solid #6B78B7;
	font-family: Verdana;
	font-size: 10pt;
}

.textArea {
	background-color: #141D48;
	color: #DEE0EF;
	border: 1px solid #6B78B7;
	font-family: Verdana;
	font-size: 10pt;
}

.label {
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	color: #66ff00;
	font-size: 12px;
	text-decoration: none;
}

.page {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}

.lvl-title {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	white-space: nowrap;
}

.page-title {
	font-family: Verdana, Arial, Helvetica;
	font-size: 20px;
	margin-left: 15px;
	margin-top: 15px;
	color: #FFFFFF;
	text-decoration: none;
}

.team-title {
	font-family: Verdana, Arial, Helvetica;
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

.game-title {
	font-family: Verdana, Arial, Helvetica;
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: right;
}

.page-title-small {
	font-family: Verdana, Arial, Helvetica;
	font-size: 17px;
	margin-left: 15px;
	margin-top: 15px;
	color: #FFFFFF;
	text-decoration: none;
}

.team-title-small {
	font-family: Verdana, Arial, Helvetica;
	font-size: 17px;
	color: #FFFFFF;
	text-decoration: none;
}

.page-scenario-time {
	font-family: Verdana, Arial, Helvetica;
	margin-left: 15px;
	margin-top: 15px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.page-title-small-green {
	font-family: Verdana, Arial, Helvetica;
	font-size: 17px;
	margin-left: 15px;
	margin-top: 15px;
	text-decoration: none;
}

.errkey {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: red;
}

.team {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 15px;
	padding-left: 5px;
}

.link {
	color: #D2A300;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}

.left {
	float: left;
}

.link-disabled {
	color: #555555;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	cursor: default;
}

.menu {
	height: 17px;
	width: 100%;
	background-color: #141d48;
}

.main_div {
	margin-bottom: 20px;
	width: 990px;
	background: transparent url(/im/block._x1.gif) scroll 0 0;
	float: left;
	height: auto;
	margin: 0 auto;
	padding-left: 1px;
	padding-right: 1px;
	text-align: left;
	padding-bottom: 1px;
}

.main_divStatistics {
	marfin: 0 auto;
	width: 100%;
	float: left;
	height: auto;
	margin: 0 auto;
	padding-left: 1px;
	padding-right: 1px;
	text-align: left;
	padding-bottom: 1px;
}

.main {
	width: 100%;
	height: auto;
}

.body {
	height: 660px;
	width: 100%;
	background-color: #303b6f;
}

body {
	background-color: #303b6f;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #66FF00;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
}

.body-wap {
	background-color: #303b6f;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	color: #66ff00;
	font-size: 12px;
	text-decoration: none;
	text-align: left;
}

.wrapper {
	text-align: left;
	margin: 0 auto;
	width: 1000px;
}

.wrapperStatistics {
	text-align: left;
	width: 100%;
}

.delim {
	height: 1px;
	width: 100%;
	background-color: #6b78b7;
}

.delim2 {
	height: 1px;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
}

.dt {
	color: #6B78B7;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
}

.chatContent {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 12px;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
}

.hp1 {
	padding-top: 5px;
}

.hp {
	padding-top: 5px;
	padding-bottom: 5px;
}

.hpc {
	padding-right: 5px;
	padding-left: 5px;
}

.gheader {
	background: url("im/bgr.gif") repeat-x;
	height: 33px;
}

.ginfo {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: #A5ADD3;
	font-weight: bold;
}

.gline,.gline td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.gtext {
	padding-left: 49px;
	padding-top: 7px;
	padding-right: 49px;
	padding-bottom: 7px;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background-color: #303B6F;
}

.lvlTable td {
	vertical-align: top;
	text-align: center;
}

.statTable {
	background-color: #A5ADD3;
	width: 95%;
}

.statTable tr {
	background-color: #303B6F;
}

.statTable td {
	vertical-align: top;
	text-align: center;
}

.keySection {
	width: 15%;
}

.levelNum {
	width: 1%;
}

.spacer {
	font-size: 1px;
	line-height: 1px;
}

.file_input_textbox {
	float: left
}

.file_input_div {
	float: right;
	height: 23px;
	overflow: hidden;
	position: relative;
	width: 120px;
}

.file_input_button {
	width: 100px;
	position: absolute;
	top: 0px;
	background-color: #33BB00;
	color: #FFFFFF;
	border-style: solid;
}

.file_input_hidden {
	font-size: 45px;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity =   0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

#indicator {
	background: transparent url(im/ajax-loader.gif) no-repeat scroll left
		top;
	height: 66px;
	left: 45%;
	position: absolute;
	top: 300px;
	width: 66px;
	z-index: 15;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.linkImage,.linkImage:visited,.linkImage:hover {
	width: 97px;
	height: 20px;
	display: block;
}

.linkImage img {
	border: none;
}

.moreInfoTop {
	padding-bottom: 9px;
}

.moreInfoBottom {
	padding-top: 10px;
}

.butSend {
	margin-top: 5px;
}

.moreInfoText {
	padding-left: 50px;
	padding-right: 50px;
}

.rg {
	color: #C6CBE3;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	text-indent: 0;
}

.authors {
	padding-left: 2px;
	padding-right: 5px;
	font-weight: bold;
	cursor: pointer;
}

.more {
	margin-left: 40px;
	font-size: 12px;
}

.styleName {
	width: 10px;
	background-image: none;
}

.font-20 {
	font-size: 20px;
	margin-left: 3px;
}

.font-12 {
	font-size: 12px;
}

.font-14 {
	float: left;
	font-size: 14px;
}

.font-17 {
	font-size: 17px;
	margin-left: 3px;
}

.team-margin {
	margin-left: 15px;
	margin-top: 15px;
}

.team-member-margin {
	margin-left: 15px;
}

.gwt-RichTextArea {

}

.hasRichTextToolbar {
	border: 0px;
}

.gwt-RichTextToolbar {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #BBBBBB;
	padding: 3px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 0px 1px 0px 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.cw-RichText {
	border: 1px solid #BBBBBB;
	border-spacing: 0px;
}

.gwt-TabLayoutPanel {
	height: 660px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {

}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border-color: #141D48;
	border-style: solid;
	border-width: 1px 1px 1px;
	overflow: hidden;
	padding: 6px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	margin-left: 6px;
	padding: 3px 8px 3px 8px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #A5ADD3;
	text-align: center;
	background: #141D48;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: #A5ADD3;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #FFFFFF;
}

a.link-button {
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#A5ADD3', endColorstr =   '#141D48' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#A5ADD3),
		to(#141D48) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #A5ADD3, #141D48);
	/* for firefox 3.6+ */
	color: #FFFFFF;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border: 1px solid #A5ADD3;
	left: 130px;
}

a.link-button:hover {
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#141D48', endColorstr =   '#A5ADD3' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#141D48),
		to(#A5ADD3) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #141D48, #A5ADD3);
	/* for firefox 3.6+ */
	color: #D2A300;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border: 1px solid #A5ADD3;
}

.main-menu {
	background-color: #141D48;
	width: 100%;
}

.main-menu-item {
	color: #D2A300;
	display: block;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	height: 28px;
	margin: 0;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	text-decoration: none;
}

.main-menu-item:hover {
	background-color: #303B6F;
	color: #D2A300;
	cursor: pointer;
}

.main-menu-item-current {
	background-color: #303B6F;
	color: #D2A300;
	cursor: default;
}

.header-welcome {
	background-repeat: no-repeat;
	color: #A5ADD3;
	float: left;
	font-size: 14px;
	font-style: italic;
	margin-top: 8px;
	padding-left: 10px;
}

.main-content {
	min-height: 650px;
	overflow: visible;
	float: left;
	width: 734px;
}

.side-modules {
	float: right;
	min-height: 650px;
	padding: 5px 5px 0px 1px;
	width: 250px;
	z-index: 0;
}

.gwt-DatePicker {
/*     padding: 2px 2px 5px; */
    border: 1px solid;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: #313D70;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 85%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #FFFFFF;
	border-right: 1px solid #141D48;
	border-bottom: 1px solid #141D48;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #313D70;
	padding: 0px 4px 2px;
	cursor: default;
	color: #FFFFFF;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 8px 10px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	/* background: #f7f7f7; */
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #F0E68C;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #F0E68C;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #66FF00;
	/* background: url(images/hborder1.png) repeat-x 0px -2607px; */
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #313D70;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
}

.gameCalendar {
    /* background-color: #141D48 !important; */
    color: #A5ADD3 !important;
    -moz-border-radius: 5px 5px 5px 5px;
    font-weight: normal;
    overflow: hidden;
    text-align: left;
}

.gameCalendarLabel {
        overflow: hidden;
        padding: 5px;
        text-align: center;
}

 .CLOSED {
    background-color: #3079ED !important;
 }

.POINT {
    background-color: #D14836 !important;
}

.PISICOT {
    background-color:  #A5ADFF !important;
}
.MSH {
    background-color: orange !important;
}
.reminder {
    float:left;
}
.delimeterTD {
    vertical-align: top;
}
.levelTimings {
    float:left
}